{#{% extends "base.twig" %}#}

{#{% block content %}#}

{#	{% for post in posts %}#}
{#		{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}#}
{#	{% endfor %}#}
{#	#}
{#	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}#}
{#{% endblock %}#}


{% extends "base.twig" %}

{% block content %}
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4">
		{% for post in posts %}
			<div class="bg-white rounded-lg shadow overflow-hidden">
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			</div>
		{% endfor %}
	</div>

	{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}

