


<article class="max-w-md mx-auto bg-white dark:bg-gray-600 rounded-xl shadow-md overflow-hidden md:max-w-2xl m-4">
	<div class="md:flex">
		<div class="p-8">
			<h2 class="block mt-1 text-lg leading-tight font-medium text-black dark:bg-gray-600 dark:text-white hover:underline">
				<a href="{{post.link}}">{{ post.title }}</a>
			</h2>
			<p class="mt-2 text-gray-500 dark:text-gray-200">{{ post.excerpt }}</p>
		</div>
		{% if post.thumbnail.src %}
			<div class="md:flex-shrink-0">
				<img src="{{ post.thumbnail.src }}" alt="Thumbnail" class="h-48 w-full object-cover md:h-full md:w-48">
			</div>
		{% endif %}
	</div>
</article>
